.bwm-form {
  color: $dark-gray-color;

  &-title {
    font-size: 2.5rem;
    letter-spacing: 1px;
    font-weight: bold;
    color: $main-black-color;
  }

  &__input::before,
  &__input::after,
  &__input {
    width: 90%;
    border: none;
    border-bottom: 2px solid $light-gray-color;
    margin-bottom: 1rem;
    outline: none;
    transition: all 0.3s;
  }

  input[type = 'text']:focus,
  input[type = 'email']:focus,
  input[type = 'password']:focus {
    border-color: $main-color;
    width: 100%;
  }

  @media only screen and (max-width: 766px){
    .image-container {
      display: none;
    }
  }

  .image-container {
    position: relative;

    img {
      width: 100%;
      border-radius: 5px;
    }
  }

  label {
    font-size: 0.9rem;
    letter-spacing: 2px;
  }

  .form-text {
    font-size: 13px;
  }

  .catchphrase {
    text-align: center;
    font-size: 42px;
    position: absolute;
    color: #f1f1f1;
    padding: 40px;
    background-color: rgba($main-black-color, 0.5);
    margin-top: 50px;
    letter-spacing: 2px;
  }

  .btn-form {
    margin-top: 15px;
  }
}

.bwm-res-errors {
  margin: 10px 0;

  p {
    margin-bottom: 5px;
  }
}

