.navbar {
  padding-top: 5rem;

  &--search {
    height: 50px;
    width: 100px;
  }

  .navbar-brand {
    margin-right: 30px;
  }

  .btn-bwm-search {
    border-color: $main-color;
    color: $main-color;

    &:hover, &:focus, &:active {
      background-color: transparent !important;
      border-color: $main-color !important;
      color: $main-color !important;
      box-shadow: none;
    }
  }

  .nav-item {
    color: $main-white-color;
  }

  .dropdown-menu {
    .dropdown-item {
      font-size: 14px;

      &:active {
        background-color: $main-color;
      }
    }
  }

  @media only screen and (max-width: 766px) {
    .dropdown-toggle {
      margin: 6px 0 18px 0;
    }
  }
}
