@import 'variables.scss';
@import 'header/header.scss';
@import 'header/navbar';
@import 'form/form.scss';
@import 'button/button';

@import 'booking/booking.scss';
@import 'rental/rental-listing.scss';
@import 'rental/rental-detail.scss';
@import 'rental/rental-manage.scss';
@import 'editable/editable-component.scss';
@import 'payment/payment';
@import 'profile/profile';
@import 'containers/page-container.scss';


html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

li, a {
  list-style-type: none !important;
  text-decoration: none !important;
}

.clickable {
  &:hover {
    cursor: pointer;
  }
}

.page-layout-one {
  margin: 0 1rem;
}

.page-layout-two {
  margin: 1rem 2rem;
}

.page-layout-auth {
  margin: 3rem;
}

.apartment {
  color: #a72da3;
}

.house {
  color: #bf1818;
}

.condo {
  color: $main-light-color;
}

@media only screen and (max-width: 768px)
{
  form {
    margin-bottom: 15px;
  }
}