$main-color: #db5b06;
$main-light-color: #d68000;

$dark-gray-color: #484848;
$dark-black-color: #000;

$light-gray-color: #a9a9a9;
$light-gray-color-2: #dedada;

$main-black-color: #20232a;
$main-white-color: #ededed;


