$main-color: #dca73a;
$main-light-color: #e59a09;

$dark-black-color: #262626;
$dark-gray-color: #484848;


$light-gray-color: #a9a9a9;
$light-gray-color-2: #dedada;

$main-black-color: #20232a;
$main-white-color: #f8f9fa;


