.profile {
    &-container {
        text-align: center;
        letter-spacing: 2px;
        padding: 0 20%;
    }

    &-manage-buttons {
        margin-top: 2rem;
    }

    &-avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &-container {
            img {
                width: 50%;
                margin-bottom: 1rem;
                border: 2px solid $dark-gray-color;
                border-radius: 5px;
            }
        }

        .button-link {
            font-weight: bold;
        }
    }
}

.profile-sublinks {
    margin: .5rem 0 3rem;
    letter-spacing: .5px;
    font-size: 18px;

    &-link-1 {
        margin-right: 5px;
    }

    &-link-2 {
        margin-left: 5px;
    }
}