#rentalDetails {
  .upper-section {
    img {
      width: 100%;
    }

    margin-bottom: 30px;
  }

  .details-section {
    color: $dark-gray-color;

    .rental {
      &-type {
        font-size: 15px;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 20px;

        &__host {
          text-transform: none;
          color:  $dark-gray-color;
        }
      }

      &-owner {
        float: right;

        img {
          height: 50px;
          border-radius: 50%;
          display: block;
          margin: 0 auto;
        }

        span {
          display: block;
          font-size: 13px;
          font-weight: 300;
        }
      }

      &-label {
        margin-right: 10px;
      }

      &-title {
        margin-bottom: 5px;
        font-size: 32px;
        font-weight: 700;
      }

      &-country {
        font-size: 15px;
        color: $light-gray-color;
        font-weight: 600;
        margin: 1rem 0;
        text-transform: uppercase;
        letter-spacing: 2px;
      }

      &-street {
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 20px;
      }

      &-room-info {
        margin-bottom: 20px;
        font-weight: 300;
        font-size: 16px;

        .rental-bedrooms {
          margin-right: 0;
        }

        span {
          margin-right: 10px;
        }

        i {
          margin-right: 2px;
        }
      }

      &-description {
        font-weight: 300;
        margin: 3rem 0;
        border: 1px solid $light-gray-color-2;
        padding: 1rem;
      }

      &-assets {
        .title {
          margin-bottom: 1.5rem;
          font-weight: 700;
          font-size: 24px;
        }

        &__detail {
          p {
            margin-bottom: 15px;
            font-weight: 300;
          }

          span {
            margin-left: 10px;
            letter-spacing: 2px;
          }
        }
      }
    }
  }
}
