#rentalListing {
  .rentalListing-jumbotron {
    color: #fff;
    text-align: left;
    width: 100%;
    margin-bottom: 2rem;
    border-bottom: 2px solid lightgray;
    box-shadow: 2px 2px 2px rgba($main-black-color, 0.5);

    &__background {
      width: 100%;
      background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("/img/background-image/background1.jpg");
      background-size: cover;
      background-position: center center;
      padding: 10rem 0;
    }

    &__intro {
      margin-left: 2rem;

      &-title {
        font-size: 2.5rem;
        letter-spacing: 3px;
        font-family: "Muli", sans-serif;
        margin-bottom: 2rem;

        &-bold {
          color: $main-color;
        }
      }

      &-brand {
        color: $main-color;
        font-family: "Berkshire Swash", cursive;
        transition: all 0.2s;
      }
    }

    &__subtitle1 {
      letter-spacing: 2px;
      margin: 2rem 0 3rem 0;
    }
  }

  .title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .rental-detail-link {
    &:hover {
      text-decoration: none;
    }
  }

  .bwm-card {
    display: flex;
    flex-direction: column;
    min-height: 95%;
    margin-bottom: 2em;
    box-shadow: 2px 0.2rem 0.3rem rgba($main-black-color, 0.5);
    transition: all .3s ease-in;

    &:hover {
      top: -3px;
    }

    &:active,
    &:focus {
      box-shadow: 2px 0.1rem 0.4rem rgba($main-black-color, 0.5);
    }

    // .card-img-top {
    //   transition: all .4s;

    // }

    // .card-img-top:hover {
    //   transform: scale(1.1);
    // }

    .card-block {
      padding: 1rem 0 0.5rem 0.2rem;

      .card-subtitle {
        margin: 0;
        font-weight: 800;
        font-size: 12px;
        text-transform: uppercase;
      }

      .card-title {
        font-size: 18px;
        margin: 5px 0;
        color: $dark-gray-color;
      }

      .card-text {
        font-size: 15px;
        font-weight: 300;
        color: #7e7e7e;
        margin-bottom: 0;
      }
    }
  }

  .rentalListing-search {
    width: 100%;
    padding: 1rem 2rem;

      h6 {
        font-size: 14px;
        font-style: italic;
        color: $light-gray-color;
      }

      &__input {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

  }
}
